<template>
  <div class="flex h-36 border mb-1 rounded-md overflow-hidden bg-gray-200">
    <div class="w-36">
      <img v-if="image" :src="image" alt="" class="w-36 h-36 object-cover" />
      <svg
        v-else
        class="w-36 h-36 object-cover text-gray-400"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2
        2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5
        6H5l3.5-4.5z"
        />
      </svg>
    </div>
    <div class="flex-1 text-left px-4 py-2">
      <p class="text-xl font-black">{{ title }}</p>
      <p class="text-lg font-light">
        {{ subtitle }}
      </p>
      <p class="text-sm font-thin text-gray-500 pt-4">
        {{ body }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    image: String,
    title: String,
    subtitle: String,
    body: String,
  },
};
</script>

<style></style>
