<template>
  <div class="flex justify-between">
    <button
      :disabled="disablePreviovsPage"
      :class="[disablePreviovsPage ? 'pointer-events-none opacity-5' : '']"
      @click="goToPreviousPage()"
    >
      prev
    </button>
    <p class="hidden flex-1 flex-row justify-center sm:flex">
      <span
        v-for="index in totalPages"
        :key="index"
        @click="goToPage(index - 1)"
        class="text-xs mr-1 w-5 h-5 text-gray-500 cursor-pointer flex justify-center items-center"
        :class="[index - 1 === page ? 'border rounded-md border-gray-600' : '']"
        >{{ index }}</span
      >
    </p>
    <button
      :disabled="disableNextPage"
      :class="[disableNextPage ? 'pointer-events-none opacity-5' : '']"
      @click="goToNextPage()"
    >
      next
    </button>
  </div>
</template>

<script>
export default {
  props: {
    page: {
      type: Number,
      default: 0,
    },
    totalPages: Number,
  },
  computed: {
    disablePreviovsPage() {
      return this.page === 0;
    },
    disableNextPage() {
      return this.page === this.totalPages - 1;
    },
  },
  methods: {
    goToPreviousPage() {
      this.$emit('goToPreviousPage');
    },
    goToNextPage() {
      this.$emit('goToNextPage');
    },
    goToPage(page) {
      this.$emit('goToPage', page);
    },
  },
};
</script>

<style></style>
