<template>
  <input
    type="text"
    @input="textChange"
    class="mt-8 h-10 w-full rounded-full text-center"
    placeholder="search cat breed name"
  />
</template>

<script>
import debounce from 'lodash.debounce';
export default {
  methods: {
    textChange: debounce(function ({ target: el }) {
      this.$emit('textChange', el.value);
    }, import.meta.env.VITE_THECATAPI_DEBOUNCE_TIME),
  },
};
</script>

<style></style>
