<template>
  <div class="md:w-3/4 lg:w-1/2 mx-auto bg-gray-50 px-8 py-12 text-center">
    <h1 class="text-2xl font-bold text-gray-700">spiti cat app</h1>

    <Search @textChange="fetchBreedsByName" />

    <section :class="[http.reqInProgress ? 'opacity-50' : '']">
      <div
        v-if="cat.breeds === undefined"
        class="flex flex-col p-28 justify-center items-center"
      >
        <p class="mt-4">Cat Breeds are on the way</p>
      </div>
      <div
        v-else-if="cat.breeds.length === 0"
        class="flex flex-col p-32 justify-center items-center"
      >
        <svg
          class="h-24 w-24 text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            strokeWidth="{2}"
            d="M9.172 16.172a4 4 0 015.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <p class="mt-4">No Results Found for your search</p>
        <p>Try searching different breeds</p>
      </div>
      <div v-if="cat.breeds && cat.breeds.length">
        <Card
          class="mt-8"
          v-for="breed in cat.breeds"
          :key="breed.id"
          :title="breed.name"
          :subtitle="breed.origin"
          :body="breed.temperament"
          :image="breed.image ? breed.image.url : ''"
        />

        <Pagination
          class="mt-8 hidden sm:flex"
          v-if="cat.breeds.length"
          :page="pagination.page"
          :totalPages="totalPages"
          @goToPreviousPage="goToPreviousPage"
          @goToNextPage="goToNextPage"
          @goToPage="goToPage"
        />
      </div>
    </section>

    <Spinner :show="http.reqInProgress" class="absolute top-1/3 left-1/2" />
  </div>
</template>

<script>
import Pagination from './components/Pagination.vue';
import Spinner from './components/Spinner.vue';
import Search from './components/Search.vue';
import Card from './components/Card.vue';
import { mapGetters, mapState, mapActions } from 'vuex';
export default {
  components: {
    Pagination,
    Spinner,
    Search,
    Card,
  },
  created() {
    this.fetchBreeds();
  },
  computed: {
    ...mapGetters('pagination', ['totalPages']),
    ...mapState(['http', 'cat', 'totalBreeds', 'pagination']),
  },
  methods: {
    ...mapActions('cat', ['fetchBreeds']),
    ...mapActions('cat', ['fetchBreedsByName']),
    ...mapActions('pagination', ['goToPreviousPage']),
    ...mapActions('pagination', ['goToNextPage']),
    ...mapActions('pagination', ['goToPage']),
  },
};
</script>

<style></style>
